*.pyc
*.pyo
*.mo
*~
svn-*
.svn
.idea
*.log
# Translations
*.mo
*.pot
__pycache__/

migrate
.coverage
sqlite3.db
uwsgi.ini
log/**
!log/placeholder
settings/development.py
settings/__init__.py
settings/staging.py
media/*

!media/**/init.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py

extras

.vscode
myenv/
static_root/*
venv/
